/*
1: Structure 
2: Typography
3: Elements
4: Sections 
5: Form
6: Kit
7: Animations 
8: Media Queries
*/

/* Structure */

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
}

header > div, footer > div {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}

header > div {
  align-items: center;
}

header div > div {
  flex: 1 1 0;
}

header div > div:first-child {
  margin-right: 2rem;
}

footer {
  background: #303030;
  color: #cccccc;
  margin-top: 2rem;
}

/* Typography */

h1 {
  font-size: 3em;
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 3em;
  margin: 0 0 2rem 0;
}

h4 {
  font-size: 1.6em;
  margin-bottom: 0.5rem;
  padding: 0.75rem 0;
}

p.savedKit {
  display: inline-block;
  margin: 0 1rem;
}

code a {
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
  background: #e66f6f;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

code a:hover {
  color: #303030;
}

.centre {
  text-align: center;
}

footer p {
  font-size: 0.75em;
}

p.error {
  padding: 1rem;
  margin: 0;
  font-size: 0.9em;
  background: #f38888;
  color: #ffffff;
  border: 4px solid #e66f6f;
  display: inline-block;
}

/* Elements */

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #303030;
}

a:hover {
  color: #dd7d67;
}

header h2 a {
  display: inline-block;
  height: 0.75em;
  margin: 0 0.25em;
}

footer a {
  color: #cccccc;
  text-decoration: none;
  border-bottom: 0;
}

img {
  width: 100%;
}

hr {
  margin: 1.5rem 0;
  height: 1px;
  margin: 2.5rem 0.25rem 1rem;
  border: 0;
  background: #c2c2c2;
}

#controls {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem 1rem 0;
}

#controls.striped {
  border-top: 1px solid #c2c2c2;
}

#controls button, .save {
  width: 140px;
  box-sizing: border-box;
  text-align: center;
}

button, .save {
  padding: 1rem;
  border: 0;
  background: #303030;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
}

button:hover, .save:hover {
  background: #e66f6f;
  color: #ffffff;
}

button.add-supply {
  font-size: 0.9em;
  padding: 0.5rem 0.7rem;
  margin: 0.75rem 0.25rem;
}

button.del {
  font-size: 0.8em;
  padding: 0.3rem 0.5rem;
  height: 43px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button.del.hidden {
  opacity: 0;
}

button:disabled {
  opacity: 0.2;
}

button[type="submit"] {
  transition: opacity 0.3s;
}

button:disabled:hover {
  background: #303030;
  cursor: default;
}

/* Sections */

.step {
  padding: 1.5rem 0;
}

.step#one {
  background: #edbfb5;
}

.step#two {
  background: #da907f;
  transition: opacity 0.7s;
}

.step.blurred {
  opacity: 0.2;
}

#kit {
  position: relative;
}

.hide{
  display: none;
}

.show {
  display: inline-block;
}

#prepped {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}

#prepped:empty {
  margin-top: 1rem;
  width: 0.5em;
  height: 0.5em;
  padding: 0.5em;
  border: 1em solid rgba(0, 0, 0, 0.2);
  border-left: 1em solid #000000;
  border-radius: 50%;
  animation: loading 1.1s infinite linear;
}

/* Form */

.number, .selector, .yes-no {
  margin: 1rem 0;
  display: inline-block;
}

select, .number input {
  margin: 0 1rem;
}

#one input {
  width: 80px;
}

#one input, #one select {
  font-size: 2.6em;
  font-weight: bold;
  color: #303030;
  background: none;
  border: 0;
  text-align: center;
  border-bottom: 7px solid #ffffff;
}

#one label, #one span {
  display: inline-block;
  font-size: 1.4em;
}

#one input {
  margin: 0 2.5rem;
}

.selector {
  position: relative;
  height: 60px;
  margin-right: 1.5rem;
}

.selector:after {
  content: '';
  position: absolute;
  top: 25px;
  width: 0;
  height: 0;
  right: 1em;
  margin: auto;
  border-width: 7px 7px 0 7px;
  border-style: solid;
  border-color: #303030 transparent transparent transparent;
  pointer-events: none;
}

.selector select {
  cursor: pointer;
  outline: none;
  margin-left: 2.5rem;
  padding-right: 1.8rem;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.selector:hover:after {
  border-color: #ffffff transparent transparent transparent;
}

.selector select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
} 

.selector select:-ms-expand {
  display: none;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.radio {
  position: relative;
  display: inline-block;
}

.radio label {
  position: relative;
  height: 30px;
  line-height: 1.3rem;
  z-index: 1;
}

input[type="radio"] {
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  visibility: hidden;
}

input[type=radio] + label {
  display: inline-block;
  padding: 0.25rem 0.25rem;
  line-height: 30px;
  height: 30px;
  border-bottom: 3px solid #ffffff;
  margin-right: 1rem;
  width: 32px;
  text-align: center;
}

input[type=radio] + label[for] {
  cursor: pointer;
}

input[type="radio"]:checked ~ label {
  background: #ffffff;
}

#one > fieldset, #two > fieldset {
  border: 0;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}

#two > fieldset > legend {
  display: none;
}

#two fieldset fieldset {
  border: 1px solid #ffbcbc;
  padding-top: 0.75rem;
}

fieldset:disabled fieldset input[type="radio"] + label[for]{
  cursor: default;
}

fieldset .yes-no {
  margin-right: 2rem;
  width: 230px;
}

fieldset .yes-no:last-child {
  margin-right: 0;
}

/* Kit */

table {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  padding-bottom: 1px;
}

td {
  width: 1%;
  white-space: no-wrap;
  text-align: center;
  border: 1px solid #ffffff;
}

td:hover {
  background: #f8d7d0;
}

thead {
  font-size: 1.1em;
  font-weight: bold;
}

thead tr td {
  padding: 0.5rem;
}

thead tr td:hover {
  background: none;
}

tbody tr {
  background: #e5e5e5;
}

tbody tr:nth-child(odd) {
  background: #f1f1f1;
}

tr td:first-child {
  width: auto;
  white-space: normal;
  text-align: left;
}

tr td:last-child {
  background: #ffffff;
}

table input {
  background: none;
  border: 1px solid transparent;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1em;
  width: 100%;
}

table input[type="date"] {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 0.95em;
  width: 145px;
}

table input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

table input[type=number] {
  width: 50px;
  text-align: center;
}

table input:focus {
  background: #ffffff;
  border: 1px solid #c1c1c1;
}

/* Animations */
  
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media screen and (max-width:1100px) {
  #one fieldset {
    text-align: center;
  }
  #one label, #one input {
    width: 100%;
    margin: 0;
  }
  #one input, #one select {
    border-width: 2px;
  }
  #one select {
    margin: 0.5rem 0;
    padding-right: 0;
  }
  .selector:after {
    display: none;
  }
  #one label {
    margin: 1rem 0;
  }
  #one span {
    margin-top: 1rem;
  }
  .number, .selector {
    width: 100%;
    margin: 0;
  }
  .selector {
    margin-top: 0;
  }
  .step {
    padding-top: 0;
  }
  #two fieldset{
    text-align: center;
  }
  fieldset .yes-no {
    width: 100%;
    margin: 1rem 0;
  }
  fieldset .yes-no:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width:570px) {
  #two fieldset{
    text-align: center;
  }
  fieldset .yes-no {
    width: 100%;
    margin: 1rem 0;
  }
  fieldset .yes-no:last-child {
    margin-bottom: 0;
  }
}